
<div class="container-page">  
    <div class = "container1">
          <div class = "row">
              <div class= "col-12">
                  <title> Formulario </title>
                  <header>
                      <nav>
                        <div class="logo"></div>
                      </nav>
                  </header>
                                     
               </div>
          </div>
    </div>
     
      
      <div class = "container2">
          <div class = "row">
              <div class="col-12">
                    <main>
                        <section>
                            <form>
                                <div class = "container3">
                                    <label For= " citas-medicas">
                                        <span> citas-medicas </span>
                                        <input type="date" id="citas-medicas">
                                    </label>
                                    <label For= " horario">
                                        <span> hora </span>
                                        <input type="time" id=" horario">
                                    </label>
                                </div>
                            </form> 
                        </section>

                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col"> #</th>
                                <th scope="col">N° Identificación</th>
                                <th scope="col"> Nombre </th>
                                <th scope="col"> Fecha</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td> 1027384</td>
                                <td> Javier Rodriguez</td>
                                <td> 12/01/2021</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td> 245677</td>
                                <td> Ricardo Meneses </td>
                                <td> 3/02/2021</td>
                              </tr>
                            </tbody>
                          </table>        
      
                    </main>
              </div>
          </div>
        </div>
          
      
  <footer > 
      <div class = "container4">
          <div class = "row">
              <div class = "col">
                  <a href = "#">  Preguntas frecuentes  </a> 
              </div>
          </div>
      </div>
  </footer>                        
               

                                   
                           
                 
          
  
 
  
  </div>