
<div class="container-page">  
    <div class = "container1">
          <div class = "row">
              <div class= "col-12">
                  <title> Formulario </title>
                  <header>
                      <nav>
                        <div class="logo"></div>
                      </nav>
                  </header>
                                     
               </div>
          </div>
    </div>
     
      
      <div class = "container2">
          <div class = "row">
              <div class="col-12">
                    <main>
                        <section>
                            <form>
                                <label For= " citas-medicas">
                                     <span> citas-medicas </span>
                                     <input type="date" id="citas-medicas">
                                </label>
                                <label For= " horario">
                                    <span> hora </span>
                                    <input type="time" id=" horario">
                                </label>
                            </form> 
                        </section>
                    </main>
              </div>
          </div>
      </div>
          
                      
  <footer > 
      <div class = "container4">
          <div class = "row">
              <div class = "col">
                  <a href = "#">  Preguntas frecuentes  </a> 
              </div>
          </div>
      </div>
  </footer>                        
               

                                   
                           
                 
          
  
 
  
  </div>