* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container-page{
    height: 100vh;
    background: url(../../../assets/img/Mesa-de-trabajo.png);
    -webkit-box-sizing: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    font-style: normal;
    font-weight: lighter;
    color: #5BC9E1;
    height: 100vh;
  }

  .contenedor{
  
    height: 200px;
    padding: 20vh 20vh; 
    margin-left: 20vh;
    display: flex;
    justify-content: center;
  
    
    
  }
  
  .label{
    width: 100%;
    height: 180px;
    margin: 0 auto;
  }

.contenedor .form .form-header .form-title span {
  color:black;
}


.logout{
  position: absolute;
  right:20px;
  top:10px;
}