<div class="container-page">  
    <div class = "container1">
          <div class = "row">
              <div class= "col-12">
                  <title> Formulario </title>
                  <header>
                      <nav>
                        <div class="label"></div>
                      </nav>
                  </header>
                                     
               </div>
          </div>
    </div>
     
      
      <div class = "container2">
          
                  <main>
                      <section>
                         <!-- <form>
                             <label For= " Nombre">
                                 <span> Nombre </span>
                                 <input type="text" id="Nombre" placeholder="Nombre completo" autocomplete="name" required>
                             </label>
                             <input type="submit">
                         </form>  -->
                         
                         <div class="contenedor">
                             <div class = "row">
                                 <div class = "col-6">
                                     <form action="" class="form">
                                         <div class="form-header">
                                             <h1 class="form-title">A<span>dministrador</span></h1>
                                             <div class="select">
                                                 <select name="format" id="format">
                                                     <option selected disabled>Seleccione un perfil</option>
                                                     <option value="Secretaria">Secretaria</option>
                                                     <option value="Medico">Médico</option>
                                                     <option value="Paciente">Paciente</option>
                                             
                                                 </select>
                                             </div>
                                         </div>
                                     </form>

                                 </div>
                             </div>
                        </div>
                      </section>
                  </main>
              
      </div>
  
  <footer > 
      <div class = "container3">
          <div class = "row">
              <div class = "col">
                  <a href = "#">  Preguntas frecuentes  </a> 
              </div>
          </div>
      </div>
  </footer>
  
  </div>
        
            
                



        
   