
<!--div class="container-page">  
  <div class = "container1">
        <div class = "row">
            <div class= "col-12">
                <div class="header-login">
        <div class="logo"></div>
        
        <h1> Bienvenidos a Tic Salud!!!</h1>
        <h2> Salud al alcance de tu mano</h2>
        </div> 
            </div>
        </div>
    </div>
   
    
    <div class = "container2">
        <div class = "row">
            <div class="col-12">
                <div class="content-login">
                    <section>
                      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" >
                        <h4> Inicio de Sesión</h4>
                        <input  formControlName="user" class="controls" type="text" name="user" id="usuarios" placeholder="usuario" required>
                        <div *ngIf="submitted && f['user']['errors']"><div *ngIf=" f['user']['errors']['required']"> usuario es requerido</div></div>
                        <input  formControlName="password" class="controls" type="password" name="pasword" id="pasword" placeholder="ingrese su contraseña" required>
                        <div *ngIf="submitted && f['password']['errors']"  ><div *ngIf="f['password']['errors']['required']"> El password es requerido</div></div>
                        <button type="submit"> Iniciar sesión </button> 
                      </form>
                    </section>
                                        
                </div>
            </div>
        </div>
    </div>

<footer > 
    <div class = "container3">
        <div class = "row">
            <div class = "col">
                <a href = "#">  Preguntas frecuentes  </a> 
            </div>
        </div>
    </div>
</footer>

</div-->  

<div class = "container1">
    <div class = "row">
        <div class= "col-12">
            <div class="header-login">
    <div class="logo"></div>
    
    <h1> Bienvenidos a Tic Salud!!!</h1>
    <h2> Salud al alcance de tu mano</h2>
    </div> 
        </div>
    </div>
</div>

<div class="page">
   
    <div class="contenedor">
      
        <div class="enfermera">
            <img  src="../../../assets/img/enfermera.png" />
        </div>
        <div class="doctor">
            <img   src="../../../assets/img/doctor.png"/>
        </div>
    
        <form class="form"  [formGroup]="formLogin" (ngSubmit)="onSubmit()" >
            <h1 class="form-title">I<span>nicio de Sesión</span></h1>
            <section>
                <input  formControlName="user" class="controls" type="text" name="user" id="usuarios" placeholder="usuario" required>
                <div *ngIf="submitted && f['user']['errors']"><div *ngIf=" f['user']['errors']['required']"> usuario es requerido</div></div>
                <input  formControlName="password" class="controls" type="password" name="pasword" id="pasword" placeholder="ingrese su contraseña" required>
                <div *ngIf="submitted && f['password']['errors']"  ><div *ngIf="f['password']['errors']['required']"> El password es requerido</div></div>
                <button   mat-raised-button color="primary" type="submit"> Iniciar sesión </button> 
            </section>
        </form>
</div>

</div>

        
   