

.header-login{ 
 display: flex; 
 flex-direction: column;
 justify-content: center;
 flex-basis: 25%;
 
}

.content-login{
  height: calc( 100vh - 203px );
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 30px;
  width: 400px;
  height: 320px;
  background: #4c2882;
  margin: auto;
  margin-top: 0px;
  margin-bottom:300px;
  border-radius: 10px;
  }

.controls{
 width: 100%;
 height: 50px;
 background: whitesmoke;
 border-radius: 5px;
 margin-bottom: 16px;
 border: 2px solid grayscale($color: #5555)
 
}

h1{
  margin-top: 10px;
  text-align: center;
  
}

h2{
  text-align: center;

}

h4{
  font-size: 22px;
  font-weight: 400px;
  color: antiquewhite;
  margin-bottom: 20px;

}

.logo{
  width: 291px;
    height: 108px;
    background-image: url(../../../assets/img/logo_large.PNG) ;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

button {
   width: 200px;
   height: 50px;
   background-color: #ddd2d2;
   border-radius: 5px;
   font-size: 18px;
   color: black;
   border: 0px;
   font-weight: 600;
   margin: 0 auto;
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
} 


#login-elements{
  max-width: 100%;
}


.body{
  height:200px ;
  
}

.container-page{
  height: 100vh;

}

.container2{
  
  height: 200px;
  margin-top: 80px;
  
  
}

.container3 {
  background: #343a40; 
  width: 100%;
  height: 80px; 

}

footer {
  height: 60px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}


.page {
  margin: center;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 80px;
}

.container-page{
  height: 100vh;
  justify-content:initial;
    
}

.logo-admin{
  width: 200px;
  
  display: block;
  img{
    width: 200px;
  }
}  

.contenedor .form-title {
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
  font-style:normal;
  font-weight:500;
  color:#5BC9E1;
  font-size:xx-large;
  text-align: left;

}

.contenedor .form-title span{
 color:rgba(0,0,0, .5);
}

.contenedor .login {
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
  font-style:normal;
  font-weight:500;
  color:#5BC9E1;
  font-size:x-large;
  text-align: left;

}

.contenedor .login span{
 color:rgba(0,0,0, .5);
}

.contenedor .form {
  background: rgba(0,0,0, .07);
  width: 90%;
  max-width: 280px;
  margin:auto;
  padding: 10px 40px 15px;
  margin-top: -50px;
  padding-bottom: 30px;
  border-radius: 10px;
  
}

.id {
  color:black;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
  font-style: normal;
  font-weight: lighter;
  font-size:medium;
}

select,
option {
color:black;
font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
font-style: normal;
font-weight: lighter;
font-size:medium;

}

.documento {
  color:black;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
  font-style: normal;
  font-weight: lighter;
  font-size:medium;
}

.nombre {
  color:black;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
  font-style: normal;
  font-weight: lighter;
  font-size:medium;
}

.usuario {
  color:black;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
  font-style: normal;
  font-weight: lighter;
  font-size:medium;
}

.contrasena {
  color:black;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
  font-style: normal;
  font-weight: lighter;
  font-size:medium;
}

.boton_personalizado{
  display: block;
  text-decoration: none;
  padding: 5px;
  font-weight: 50;
  color: rgba(0,0,0, .7);
  background-color:rgba(0,0,0, .05);
  border-radius: 6px;
  border: 0.05px solid #1883ba;
}

.boton_personalizado:hover{
  color: #1883ba;
  background-color:rgba(0,0,0, .05);
}

.enfermera{
  width: 25%;
  display: block;
  float: left;
  margin-top: -70px ;
  margin-left: 270px;
}

.doctor{
  width: 25%;
  display: block;
  float: right;
  margin-top: -350px;
  margin-right: 210px;

}