<div class="container-page">  
    <div class = "containerp1">
          <div class = "row">
              <div class= "col-12">
                  <div class="header-login">
                  
          <h1> Bienvenidos a Tic Salud!!!</h1>
          <h2> Salud al alcance de tu mano</h2>
          </div> 
              </div>
          </div>
      </div>
     
      
      <div class = "containerp2">
          <div class = "row">
              <div class="col-12">
                  <div class="registro-paciente">
                      <section>
                        <form >
                          <h4> Consulta de Citas Médicas</h4>
                          <label For= "consulta">
                            <span> Numero de identificación </span>
                            <input type="text" id= "consulta" name= "consulta">                        
                        </label>
                        </form>
                      </section>  
                      <section>
                          <form action="">
                            <h1> Citas Medicas</h1>
                            <label for="calendario">
                                <span> Calendario</span>
                                <input type="datetime-local" id="calendario" name= "calendario">
                            </label>
                            <input type="submit" value="Seleccionar">
                            </form>
                      </section>            
                  </div>
              </div>
          </div>
      </div>
   
     <div class = "containerp3">
      
       
    
     </div>
     
  </div>  