
  .container-page{
    height: 100vh;
    justify-content:initial;
      
  }

  .logo{
    width: 291px;
    height: 103px;
    background: url(../../../assets/img/tic_salud.PNG) -247px -46px;
    margin: 0 auto;
  }
  .containerTab{
    
    margin-top: 80px;
    padding-top: 20Px;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding: 30px;
    width: 700px;
    margin: auto;
    border-radius: 10px;
       
  }
  
  
  .container2{
    
    margin-top: 80px;
    padding-top: 20Px;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding: 30px;
    width: 700px;
    height: 150px;
    margin: auto;
    margin-bottom:300px;
    border-radius: 10px;
       
  }

  .modal-paciente {
    position: absolute;
    width: 70%;
    height: 400px;
    top: calc( 50vh - 200px );
    left: 15%;
    border-radius: 10px;
    border: 0px solid #ddd; 
    background-color: #fefefe;
    -webkit-box-shadow: 2px 3px 24px 2px rgba(212,205,212,1);
    -moz-box-shadow: 2px 3px 24px 2px rgba(212,205,212,1);
    box-shadow: 2px 3px 24px 2px rgba(212,205,212,1);
    z-index: 1000s;}

    .modalHeader{
      background-color: #dddddd;
      height: 40px; 
      width: 100%;
      padding: 5px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
     
    }
 
    .content-modal{
     padding: 20px;
     span{
       font-weight: 800;
     }}