/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.body{
    height:200px ;
    
  }

.container-page{
    height: 100vh;
  
  }

  .modal-medico{
    position: absolute;
    width: 70%;
    height: 400px;
    top: calc( 50vh - 200px );
    left: 15%;
    border-radius: 10px;
    border: 0px solid #ddd; 
    background-color: #fefefe;
    -webkit-box-shadow: 2px 3px 24px 2px rgba(212,205,212,1);
    -moz-box-shadow: 2px 3px 24px 2px rgba(212,205,212,1);
    box-shadow: 2px 3px 24px 2px rgba(212,205,212,1);
    z-index: 1000s;
  
    .modalHeader{
      background-color: #dddddd;
      height: 40px; 
      width: 100%;
      padding: 5px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
     
    }
 
    .content-modal{
     padding: 20px;
     span{
       font-weight: 800;
     }
 
    }
 
   }
   
   .title-label{
     font-size: 14px;
     border-left-color: #4c2882;
     border-left-width: 3px;
     border-left-style: solid;
     padding-left: 4px;
 
   }
   
 
   .icon-close{
     position: absolute;
     top:15px;
     right: 15px;
     color: #4c2882;
     font-weight: 700;
 
   }
 

  footer {
    height: 60px;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }