.logo{
    width: 291px;
    height: 108px;
    background-image: url(../../../assets/img/logo_large.PNG) ;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    
  }

  .logout{
    position: absolute;
    right:20px;
    top:20px;
  }