.logo{
    width: 291px;
    height: 103px;
    background: url(../../../assets/img/tic_salud.PNG) -247px -46px;
    margin: 0 auto;
  }

  .logout{
    position: absolute;
    right:20px;
    top:20px;
  }